<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
</head>
<body>
<h1 th:if="${param.logout}">You have been logged out.</h1>
<h1 th:if="${param.error}">You username or password is wrong.</h1>
<h1 th:if="${param.verify}">Verification codes are inconsistent</h1>

<h2>用户名密码登录</h2>
<form th:action="@{/login}" method="post">
    <div><label> username : <input type="text" name="username"/> </label></div>
    <div><label> password : <input type="password" name="password"/> </label></div>
    <div>
        <input type="text" class="form-control" name="verifyCode" required="required" placeholder="验证码">
        <img src="getVerifyCode" title="看不清，请点我" onclick="refresh(this)" onmouseover="mouseover(this)"/>
    </div>
    <div><label><input type="checkbox" name="remember-me"></label> Remember me on this computer.</div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<script>
    function refresh(obj) {
        obj.src = "getVerifyCode?" + Math.random();
    }

    function mouseover(obj) {
        obj.style.cursor = "pointer";
    }
</script>
</body>
</html>
